<base href="/" />
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-2">
        <div class="container-fluid">
            <a class="navbar-nav" routerLink="/">My Library</a>

            <!-- <ul class="nav-flex">
          <li>
            <a class="navbar-nav" href="#">LogIn</a>
          </li>
          <li>
            <a class="navbar-nav" href="#">SignUp</a>
          </li>
        </ul> -->
        </div>
    </nav>
</header>
<section> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span>
    <div class="container">
        <div class="form-wrapper sign-in">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
              <h2>Reset Password</h2>
              <div class="input-group">
                <input id="email" formControlName="email" type="email" placeholder="E-mail" required />
                <div *ngIf="resetPasswordForm.get('email')?.invalid && resetPasswordForm.get('email')?.touched">
                  <small *ngIf="resetPasswordForm.get('email')?.errors?.['required']">Email is required.</small>
                  <small *ngIf="resetPasswordForm.get('email')?.errors?.['email']">Invalid email format.</small>
                </div>
              </div>
              <div class="input-group">
                <input id="password" formControlName="password" type="password" placeholder="New Password">
              </div>
              <div *ngIf="resetPasswordForm.get('password')?.invalid && (resetPasswordForm.get('password')?.dirty || resetPasswordForm.get('password')?.touched)">
                <div *ngIf="resetPasswordForm.get('password')?.errors?.['required']" class="msg">Password is required.</div>
                <div *ngIf="resetPasswordForm.get('password')?.errors?.['minlength']" class="msg">Password must be at least 6 characters long.</div>
              </div>
          
              <div class="input-group">
                <input id="confirmPassword" formControlName="confirmPassword" type="password" placeholder="Confirm Password">
              </div>
              <div *ngIf="resetPasswordForm.errors?.['mismatch']" class="msg">Passwords must match.</div>
          
              <button class="btn mt-4" type="submit" [disabled]="resetPasswordForm.invalid">Reset Password</button>
          
              <div *ngIf="messageSend" class="send-message">{{ messageSend }}</div>
              <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
            </form>
           
          </div>
    </div>

</section>