<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-2">
    <div class="container-fluid">
      <a class="navbar-nav" routerLink="/">My Library</a>

      <!-- <ul class="nav-flex">
        <li>
          <a class="navbar-nav" href="#">LogIn</a>
        </li>
        <li>
          <a class="navbar-nav" href="#">SignUp</a>
        </li>
      </ul> -->
    </div>
  </nav>
</header>
<section> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
  <span></span> <span></span> <span></span> <span></span> <span></span>
  <div class="container">
    <div class="form-wrapper sign-in">

      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div *ngIf="messageSend" class="send-message">
          <h5>{{ messageSend }}</h5>
        </div>
        <br><br>
        <h2>Forgot Password</h2>
        <div class="input-group">
          <input type="email" formControlName="email" class="form-style" placeholder="Your Email" autocomplete="on"
            required>
          <i class="input-icon uil uil-at"></i>
        </div>
        <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched">
          <small *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">Email is required</small>
          <small *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">Invalid email address</small>
        </div>
        <div *ngIf="errorMessage" class="error-message">
          <small>{{ errorMessage }}</small>
        </div>
        <button type="submit" class="btn mt-4" [disabled]="forgotPasswordForm.invalid">Send Reset Link</button>
        <div class="text-center mt-3">
          <br>
          <a href="#" (click)="backToLogin($event)" class="back-to-login">Back to Login</a>
        </div>
      </form>
    </div>
  </div>
</section>