<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-2">
        <div class="container-fluid">
            <a class="navbar-nav" routerLink="/">My Library</a>

            <!-- <ul class="nav-flex">
          <li>
            <a class="navbar-nav" href="#">LogIn</a>
          </li>
          <li>
            <a class="navbar-nav" href="#">SignUp</a>
          </li>
        </ul> -->
        </div>
    </nav>
</header>
<app-background-image></app-background-image>
<section class="section">
    
    <div class="quotes-carousel">
        <ede-carousel></ede-carousel>
    </div>
    <div *ngIf="successMessage" class="confirmation-message" [innerHTML]="successMessage"></div>
    <div class="wrapper">

        <div class="form-wrapper sign-in">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <h2>Login</h2>
                <div *ngIf="errorMessage" class="error-message">
                    {{ errorMessage }}
                </div>
                <div class="input-group">
                    <input type="email" formControlName="email" class="form-style" placeholder="Your Email"
                        autocomplete="on" required>
                    <i class="input-icon uil uil-at"></i>
                </div>

                <div *ngIf="loginSubmitted && loginForm.get('email')?.invalid" class="error-message">
                    <p *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</p>
                    <p *ngIf="loginForm.get('email')?.errors?.['email']">Please enter a valid email address</p>
                </div>

                <div class="input-group">
                    <input type="password" formControlName="password" class="form-style" placeholder="Your Password"
                        autocomplete="off" required>
                    <i class="input-icon uil uil-lock-alt"></i>
                </div>

                <div *ngIf="loginSubmitted && loginForm.get('password')?.invalid" class="error-message">
                    <p *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</p>
                </div>

                <div class="remember">
                    <label>
                        <input id="rememberMe" formControlName="rememberMe" type="checkbox" /> &nbsp; Remember me
                    </label>
                </div>
                <div class="forgot-password">
                    <a href="#/forgot-password" (click)="navigateToForgotPassword($event)">Forgot password?</a>
                </div>
                <button class="btn mt-4" type="submit">Submit</button>
                <div class="signUp-link">
                    <p>Don't have an account? <a href="#" class="signUpBtn-link">Sign Up</a></p>
                </div>
            </form>
        </div>

        <div class="form-wrapper sign-up">
            <form [formGroup]="registerForm" (ngSubmit)="register()">
                <h2>Sign Up</h2>
                <div *ngIf="errorMessage" class="error-message">
                    {{ errorMessage }}
                </div>
                <div class="input-group">
                    <input type="text" formControlName="userName" placeholder="Username" required>
                    <i class="input-icon uil uil-at"></i>
                    <div *ngIf="registerForm.get('userName')?.invalid && registerForm.get('userName')?.touched" class="error-message">
                        <p *ngIf="registerForm.get('userName')?.errors?.['required']">Username is required.</p>
                    </div>
                </div>
                <div class="input-group">
                    <input type="email" formControlName="email" class="form-style" placeholder="Your Email"
                        autocomplete="off" />
                    <i class="input-icon uil uil-at"></i>
                    <div *ngIf="registerSubmitted && registerForm.get('email')?.invalid" class="error-message">
                        <p *ngIf="registerForm.get('email')?.errors?.['required']">Email is required</p>
                        <p *ngIf="registerForm.get('email')?.errors?.['email']">Please enter a valid email address</p>
                    </div>
                </div>
                <div class="input-group">
                    <input type="password" formControlName="password" class="form-style" placeholder="Your Password" autocomplete="off" />
                    <i class="input-icon uil uil-lock-alt"></i>
                    <div *ngIf="registerSubmitted && registerForm.get('password')?.invalid" class="error-message">
                      <p *ngIf="registerForm.get('password')?.errors?.['required']">Password is required</p>
                      <p *ngIf="registerForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long</p>
                      <p *ngIf="registerForm.get('password')?.errors?.['pattern']">
                        Password must contain at least one uppercase letter, one special character, and one number
                      </p>
                    </div>
                  </div>

                <div class="input-group">
                    <input type="password" formControlName="confirmPassword" class="form-style"
                        placeholder="Confirm Password" autocomplete="off" />
                    <i class="input-icon uil uil-lock-alt"></i>
                    <div
                        *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched">
                        <p *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">Password is
                            required.</p>

                    </div>
                    <div *ngIf="registerSubmitted && registerForm.errors?.['mismatch'] && registerForm.get('confirmPassword')?.touched"
                        class="error-message">
                        <p>Passwords do not match</p>
                    </div>
                </div>

                <button type="submit">Sign Up</button>

                <div class="signUp-link">
                    <p>Already have an account? <a href="#" class="signInBtn-link">Sign In</a></p>
                </div>

            </form>
        </div>

    </div>
</section>